[2015-11-24 20:19] mauricioaniche opened #4 "friendly message when directory is not a git/svn repository"
if you pass a directory to .in() that is not a Git repository, the exception is ugly. Make it more friendly.

[2015-11-24 20:24] mauricioaniche opened #5 "in the log, show the time of each metric separately"
the log current presents only the metrics that were executed and the total time. Let's present the time of each metric separately.

[2015-11-24 20:26] mauricioaniche opened #6 "notify processors when project has changed"
if you are running the study over many projects, the processors don't know whether the project has finished/changed. Create callbacks so that the processor can be aware of it.

[2015-11-24 20:29] mauricioaniche opened #7 "csvfile creates wrong file"
new `CSVPath("/somedir", "file.csv")`, generates a file `/somedirfile.csv`. Deal with it.

[2015-11-25 02:17] mauricioaniche opened #8 "print header in csv file"
should find a nice way to print the header of the csv

[2015-11-26 13:02] mauricioaniche opened #9 "run MM2 only in selected projects of a folder"

[2015-11-26 16:50] mauricioaniche opened #10 "way to elegantly stop MM2 in the middle of the execution"

[2015-12-09 14:00] mauricioaniche commented on #8
if you pass the header to the constructor, then you can validate any write() command with wrong number of parameters

[2015-12-09 18:19] mauricioaniche opened #11 "CSV writer should deal with text with comma"
printing a directory, as an example, might come with a comma (","), and then the CSV gets unformatted.

[2015-12-27 22:02] mauricioaniche opened #12 "should accept other branches than just 'master'"

[2016-01-18 10:20] mauricioaniche opened #13 "invert first and last commit in 'Range'"
range takes (first,last), but actually it works the opposite, as git returns commits from head to the tail. currently, we need to pass first=last, and last=first.

invert the algorithm.

[2016-01-18 17:49] mauricioaniche opened #14 "make it possible to active/deactive file size limit in repositories"
currently, if a commit has more than 50 (200 in master branch), it is ignored. let the user decide.

[2016-01-20 17:48] mauricioaniche opened #15 "exception when reset a repository"
stacktrace example

12:47:34 ERROR error processing #0e4e7a62d02e0b6016cdaf019eac874645184425 in /root/android/wordswithcrosses, processor=ck, error=org.eclipse.jgit.api.errors.JGitInternalException: Exception caught during execution of reset command. {0}
java.lang.RuntimeException: org.eclipse.jgit.api.errors.JGitInternalException: Exception caught during execution of reset command. {0}
	at br.co

[2016-01-20 17:56] mauricioaniche commented on #15
example of repo: https://github.com/scudderfish/MSLoggerBase.git

[2016-01-26 15:47] mauricioaniche commented on #13
i only renamed the variables. i don't think we need to change them now, because of compatibility. :/

[2016-01-26 15:47] #13 closed

[2016-02-17 16:00] klerisson opened #16 "In Modification class, getOldSourceCode"
What about adding `getOldSourceCode` in Modification class. I notice that `getSourceCode` give us the new one.

Let me know whether it would be interesting or not.

[2016-02-17 17:44] mauricioaniche commented on #16
That's a good idea, yes.

However, some things for us to think:
- That would double the memory consumption. Source codes are long.
- I am not sure if the command MM2 uses to retrieve the current information from the commit (which retrieves the current source code), also retrieves the old one. If not, then that would be c*n more Git invokations, where c is the number of commits in the repo, and n t

[2016-02-18 00:18] klerisson commented on #16
I agree, even I'm also not sure about the second bullet. Anyway, it'll be able to provide the goods on demand.

[2016-02-20 13:38] mauricioaniche opened #17 "last N commits as commit range"

[2016-02-20 13:57] mauricioaniche opened #18 "identify if a commit is a merge"
suggestion: commit.isMerge()

[2016-03-03 11:02] mauricioaniche opened #19 "'start' and 'finish' callbacks to visitors"
create a 'start' and a 'finish' callback to visitors.
- start will be called before any commit is passed.
- end will be called when all commits were visited.

[2016-03-03 13:24] mauricioaniche opened #20 "move the website to github wiki"
much easier to maintain

[2016-03-04 10:30] mauricioaniche opened #21 "identify list of branches that a commit is part of"
.getBranches() -> List<String> in Commit class.

[2016-03-05 03:26] mauricioaniche opened #22 "more files than limit should be a specialized exception"

[2016-04-03 13:36] mauricioaniche opened #23 "real multi project support"
it needs to be a completely new instance of mm2 for each project (configurable). same for output files.

[2016-04-03 13:37] mauricioaniche opened #24 "notify when it is done via email"
by email?

[2016-04-03 13:37] mauricioaniche commented on #12
fixed.

see 'branches' in the manual

[2016-04-03 13:37] #12 closed

[2016-04-04 11:25] #18 closed

[2016-05-08 00:51] mauricioaniche opened #25 "getFileName() doesn't work if modification = deleted"

[2016-05-08 00:51] #25 closed

[2016-08-01 13:22] mauricioaniche commented on #21
Already implemented as we discussed in #26

[2016-08-01 13:22] #21 closed

[2016-09-26 11:47] mauricioaniche opened #28 "data structures should be serializable"
`Commit`, `Modification` etc.

[2016-09-26 13:25] mauricioaniche opened #29 "'more files than limit' should be a configuration"
maybe a system variable?

[2016-09-26 13:25] mauricioaniche commented on #20
README file with it!

[2016-09-26 13:25] #20 closed

[2016-09-26 13:41] mauricioaniche opened #30 "start / end parameters in Range are in opposite order"
just switch it

[2016-09-26 15:58] mauricioaniche opened #31 "provide "better diff""
with the lines already calculated, so that developers don't have to parse the @@X,Y T,Z@@ expression in the diffs

[2016-09-28 17:51] nascimentolwtn commented on #29
I created a method setMaxNumberFilesInACommit to setup this configuration, and the getter returns the default value if it hasn't been set.
The modifications is in branch https://github.com/nascimentolwtn/metricminer2/tree/maxNumberFiles. Should I amend this to Pull Request #32 ?

[2016-09-28 21:09] #30 closed

[2016-09-30 04:35] nascimentolwtn commented on #30
Does the `RangeTest.should_get_commits_in_range()` method is passing for you? Shouldn't the parameters in test be swapped or the logic inside `Range.get()`?

[2016-09-30 07:59] mauricioaniche commented on #30
Hmm, yes, that's a bug. And it's harder than it looks like. This `Range` class was completely dependent on the order of the list. Now, I made the algorithm a bit smarter in there.

Can you check the PR #36, @nascimentolwtn, @sandervdo ? If you say it's ok, I'll merge it!

[2016-10-03 13:43] #29 closed

[2016-10-03 13:43] #14 closed

[2016-10-13 16:19] mauricioaniche opened #39 "Blame in RENAMED files"
Blame fails in renamed files.

Solution: receive `Modification` and check whether it was a rename. If so, use `getOldPath`.

[2016-10-13 20:31] mauricioaniche opened #40 "Multiple threads for different projects at the same time"
Currently, thread implementation only works for a single project, i.e., one project needs to be entirely finished for the second one to start. We can then parallelize projects as well.

See this commit to understand more about how difficult this can be:
https://github.com/mauricioaniche/metricminer2/commit/8d4bdd5b4078ec4d26bff07785262e9f25f60cec

[2016-10-14 11:13] mauricioaniche opened #41 ""easy" mode in which it doesn't parse previous commits, diffs, source code"
idea is to be faster

[2016-10-14 11:35] mauricioaniche commented on #41
give user the choice to configure which data should be loaded, e.g.
`load(diff, sourcecode, branches, parent)`

[2016-10-14 14:05] mauricioaniche opened #42 "Commits.since(date)"
We only have Commits.betweenDates().

[2016-10-20 08:25] mauricioaniche opened #43 "MetricMiner indicates the percentage of commits analyzed and to be analyzed yet in the logs"

[2016-10-20 08:26] mauricioaniche opened #44 ""Ignore merge commits" filter"

[2016-10-21 11:18] mauricioaniche opened #45 "allow user to set -U (lines in diff) parameter in Git diff"

[2016-10-30 11:40] mauricioaniche opened #47 "understand how timezone works in our SVN code"

[2016-10-30 11:42] mauricioaniche commented on #44
closed by #46

[2016-10-30 11:42] #44 closed

[2016-10-30 13:21] #45 closed

[2016-10-30 13:24] #42 closed

[2016-11-01 13:09] #31 closed

[2016-11-03 14:58] mauricioaniche opened #51 "if it's a merge, provide both parents of the commit"

[2016-11-03 14:58] mauricioaniche opened #52 "provides tags for commits"

[2016-11-12 21:10] chripard commented on #7
@mauricioaniche hi, can you assign this to me? i think i can fix it.

[2016-11-12 22:07] chripard commented on #39
@mauricioaniche hi, i think i can solve this issue, can you assign this to me?

[2016-11-13 16:20] mauricioaniche commented on #7
@chripard yes! just submit the PR!

[2016-11-13 16:20] mauricioaniche commented on #39
@chripard yes! just submit the PR!

[2016-11-13 19:27] mauricioaniche commented on #39
After discussing in #53, I do not believe this is a bug. The user needs to deal with it!

[2016-11-13 19:27] #39 closed

[2016-11-14 12:50] chripard commented on #11
hi @mauricioaniche , can you be more specific on this?

[2016-11-14 14:37] mauricioaniche commented on #11
Hi @chripard, if you do:
[code]

Then, as field3 writes commas, the final CSV will be broken.

What's the best solution for that? Is it for us to print " before field3, e.g., `"field3, bla bla"`? But then we will have the same issue with ", and we'll have to escape them as well.

See what's this issue about?

[2016-11-14 15:20] chripard commented on #11
hi @mauricioaniche , i understood the first part of the issue that can be fixed by printing
quotes before and after the field. I can't replicate the issue with ",

[2016-11-14 16:49] mauricioaniche commented on #11
So, suppose the guy does like this:

[code]

The CSV needs to contain 3 columns. The first line will be:
[code]

[2016-11-14 17:04] chripard commented on #11
okay thanks @mauricioaniche

[2016-11-14 18:03] chripard commented on #11
i think i found a fix for this, shall i pull a request?

[2016-11-14 18:25] mauricioaniche commented on #11
Yes, thanks!

On Mon, Nov 14, 2016, 19:03 Christina Pardalidou <notifications@github.com>
wrote:

--
Maurício Aniche
Postdoc researcher
Delft University of Technology
www.mauricioaniche.com
@mauricioaniche

[2016-11-15 17:31] chripard commented on #7
@mauricioaniche the issue is still open!

[2016-11-15 20:07] mauricioaniche commented on #11
#57 closes it

[2016-11-15 20:07] #11 closed

[2016-11-16 17:07] chripard commented on #8
hi @mauricioaniche , can you please be more specific on this?

[2016-11-16 19:43] mauricioaniche commented on #8
Currently, it's up to the developer to print the header of the CSV. IF s/he doesn't do that, then the CSV ends up with no header.

My suggestion is in the `new CSVWriter(file)`, to add one more parameter, e.g.:

[code]

Then, `CSVWriter` writes this header as first line of the file.

As know the class also knows the number of columns, if there's an invocation to `.write()` with the wrong number of

[2016-11-16 21:23] chripard commented on #8
Yes, i will have a look on this.

[2016-11-16 21:39] chripard commented on #8
@mauricioaniche one question, the exception will be thrown from the CSVFile class right? The developer
should deal with it in main?

[2016-11-16 21:46] chripard commented on #8
@mauricioaniche one question, the exception will be thrown from the CSVFile class right ? The developer
should deal with it in main ?

[2016-11-17 10:41] mauricioaniche commented on #8
@chripard, yes, should be thrown from there!

I am actually thinking that, if that happens, we should stop RepoDriller. It's much better to fail fast in this situation, as the output will be unexpected. So, maybe you should:

- Make the current constructor of `CSVFile` deprecated.
- In the new constructor, ask for a `String[]`, which are the columns. Print them already.
- If the user passed the `S

[2016-11-17 12:08] chripard commented on #8
I think it is a great idea.

[2016-11-19 02:46] nascimentolwtn commented on #8
I agree that if a user wants a header, it should be validated and fail if some line doesn't match the given number of columns.
Fail fast is perfect, but what about `System.exit(-1)` in the case of multiple repositories? All other running mining would be aborted. It already happened with me when I didn't catch RuntimeExceptions by myself. Or this case could be left to be dealt by user also.
In anot

[2016-11-19 16:24] chripard commented on #8
I also think that the header should be optional.

[2016-11-21 17:38] mauricioaniche commented on #8
Hi @nascimentolwtn, thanks for joining the discussion!

We can make it optional, yes. But, if you provide it, I don't see why it shouldn't fail if the writer doesn't match the columns. Can you see a case in which the number of values written doesn't match the required one? It seems always a bug to me.

Even if you have multiple repositories, I guess the output in the CSV has always the same struct

[2016-11-21 18:20] nascimentolwtn commented on #8
Yes, it's right that all should have the same structure.

But for some reason (eg writing Commit messages or other field that
contains comma and invalidate the column number), only that repository may
be faulty, in that case we should fail only that repo, and not all study.

In a case of a bug, all repos will naturally fail.

Does it make sense?

On Nov 21, 2016 3:39 PM, "Maurício Aniche" <notific

[2016-11-21 19:39] mauricioaniche commented on #8
If this particular case happens, we should fix it at RepoDriller, right? (which is already fixed actually, tks to @chripard). I still don't see a case where you can have a valid `writer.write()` to one project and an invalid one to another project! :/

[2016-11-23 01:44] nascimentolwtn commented on #8
@mauricioaniche , you're right. If a invalid CSV line is produced not due a faulty code, but due an untreated condition of a particular repository, it can also be considered a bug and then we could fail.

But if CSV validation could be optional, in cases that is worthy not to stop RepoDriller execution, user can let other projects continue to be processed, later he analyze that particular reposito

[2017-07-02 12:11] letimome commented on #52
Hi Mauricio!

I am currently using repoDriller to mine Git repos. I would love to make use of  this functionality.  Is it currently under development? If not I might develop it myself during this summer :-)

[2017-07-02 18:26] mauricioaniche commented on #52
Hi @letimome,

Indeed, this feature is yet to be implemented! I'd love your contribution! :)

I'd say the only requirement for it would be to make sure that this is _optional_. Why? If you get the list of tags for each commit, it can become very slow!

[2017-09-19 12:44] ishepard opened #62 "getAddedLines and getRemovedLines"
In `org.repodriller.domain.Modification.java` there are `getAdded()` and `getRemoved()`, methods that return the number of added and removed lines.

However, there is no way to get the actual lines that are added and removed.
Indeed, this is done in other classes (`DiffParser` and `DiffBlock`).

Isn't it better to add these method in the `Modification.java` instead?

[2017-09-19 13:57] mauricioaniche commented on #62
Not sure if I understood. Modification has a `getDiff()` already. What
exactly do you want there?

On Tue, Sep 19, 2017, 13:44 Spadini Davide <notifications@github.com> wrote:

--
Maurício Aniche
Postdoc researcher
Delft University of Technology
www.mauricioaniche.com
@mauricioaniche

[2017-09-19 14:25] ishepard commented on #62
I would like to get a list of the Added/Removed lines, directly from the Modification.
Something like `Modification.getAddedLines()`

________________________________
Davide Spadini | PhD student
+31 06 11 41 19 55 | d.spadini@sig.eu <mailto:d.spadini@sig.eu>
Software Improvement Group | www.sig.eu <http://www.sig.eu/>

[2017-09-26 17:35] davisjam opened #64 "Multiple threads on the same repo"
If the machine has plenty of disk space, you can maintain more than one copy of a repo being mined. If a thread checkout's a revision, it does so on its own copy of the repo.

[2017-09-26 20:19] davisjam opened #65 "Version on maven is out of date"
Just spent awhile tracking this down.

The version on Maven (1.2.1) doesn't include Nascimento's c96d1d7cb19 which adds initialize/finalize methods to CommitVisitor.

Can you publish the latest version?

[2017-09-26 21:20] mauricioaniche commented on #64
Hi @davisjam! This is indeed an idea!

However, during my last study, I noticed a crazy behavior from Git. I was running two instances of RepoDriller separately (i.e., two different processes), both of them doing checkouts in different repositories. Git started to fail on checkouts!

At the time, I was rushing for a conference, so I just gave up executing two processes at the same time. However, t

[2017-09-26 21:21] mauricioaniche commented on #65
I sure can, @davisjam. On my ToDo list for tomorrow!

[2017-09-27 01:50] davisjam commented on #64
@mauricioaniche, that does indeed sound like very strange behavior. Any chance the instances were using the same workspace and were colliding at the file system level?

[2017-09-27 08:05] mauricioaniche commented on #64
Yes, I am definitely sure that they were analyzing the same repo! This made me wonder whether Git has some _crazy huge global state_ somewhere. I should have some time to try to reproduce it in November!

[2017-09-27 09:22] mauricioaniche commented on #65
Just released version _1.3.0_. It should be propagated to Maven repos in a couple hours!

[2017-09-27 09:22] #65 closed

[2017-09-27 13:49] davisjam opened #70 "Javadoc?"
Should this project have Javadoc e.g. to describe the classes and their methods?

For example, I was surprised to see that the PersistenceMechanism(s) given to RepositoryMining.process will be auto-closed, and could only find this out from the source.

[2017-09-27 16:49] davisjam commented on #64
I think it's unlikely that Git maintains global state on the system. I'm more suspicious of shared state in RepoDriller.

If you were using the *same* repository in two different RepoDriller instances, I wonder if both decided to use the same directory and stepped on each other.

Here is a possible path:

1. GitRemoteRepository(String url) uses GitRemoteRepository.gitSystemTempDir to pick the temp

[2017-09-27 19:52] mauricioaniche commented on #70
Yes, definitely! Feel free to add any documentation. I'll make sure to write them whenever I have some change to do.

[2017-09-27 19:59] mauricioaniche commented on #64
I believe _GitRemoteRepository_ uses the tmpdir as basedir. Thus, a new dir is always created when it clones the remote repo. Nevertheless, I was using the traditional _GitRepository_.

I'll do my best to reproduce it. It might also be that I was drowning on too much data and got confused. If so, better for us: we can happily implement a better multithreading system for repodriller! I'll be back t

[2017-09-27 20:21] csokol commented on #64
The 50 cents of someone who's completely away of the project since 2014:

I'm not sure how big would be the speedup if we ran repodriller in multiple
threads. I guess the bottleneck is probably the disk io as there are no CPU
intensive logic usually running. I would try to setup a raid 0 partition
and measure the performance, if there's a significant improvement then it
means the bottleneck is onl

[2017-09-28 01:18] davisjam commented on #64
Hi @csokol,

Yes, if the issue were just disk I/O you're right. But I'm anticipating doing CPU-intensive work on each checkout, e.g. static analysis, running test suites, etc. If we eliminate the global shared state (on-disk repo instance) then this can scale to the number of cores.

And yes, it might be interesting to add a distributed component. But single-machine is fine for now.

[2017-09-28 08:58] mauricioaniche commented on #64
In an old rejected paper about the tool, we saw some good performance improvements when using threads even for basic visitors.

For now, I'm using the beautiful power of cloud computing and using one machine per project, when I need scale.

[2017-09-28 13:24] davisjam commented on #40
I think this idea would make it harder to program against RepoDriller.

At the moment, the user's CommitVisitor(s) must be thread-safe (in case of RepositoryMining.withThreads).

If we begin handling projects in parallel, a CommitVisitor must track state associated with multiple projects at once. This is not really desirable, and I think we might then want to associate CommitVisitor instances with

[2017-09-28 16:22] davisjam commented on #24
Sounds like feature creep. I vote we cancel this issue.

[2017-09-28 16:25] davisjam commented on #10
I think we could do this readily in `RepositoryMining`.

1. "Finish processing the current repo"
2. "Finish processing the current commit"

Implementation options:

1. Make `mine` asynchronous and add methods to poll for completion as well as to inject "finish up" requests.
2. Add thread-safe `RepositoryMining` APIs and have `mine` check the state variables appropriately.

@mauricioaniche Preferen

[2017-09-28 16:26] davisjam commented on #23
This is being discussed in #40 and #64. I suggest we cancel this issue.

[2017-09-28 16:27] davisjam commented on #52
@letimome Did you attempt this?

[2017-09-28 16:29] davisjam commented on #43
This could be done with either:

1. Statistics reported by `mine`, or
2. A background thread launched by `mine` that "asks around" for progress updates.

[2017-09-28 18:23] mauricioaniche commented on #52
I don't think I got a PR on this. @ishepard just implemented a `BetweenTags` commit selector, though! We may reuse some of his code.

[2017-09-28 18:23] mauricioaniche commented on #23
agreed. very old issue.

[2017-09-28 18:23] #23 closed

[2017-09-28 18:29] mauricioaniche commented on #24
I've had many situations in which repodriller took days to execute in a project (due to a lot of parsing etc etc). To speed up the process, I was using different VM machines to run my study in all projects that I wanted (last time, around 30 machines). Thus, I needed to know when "a machine is done", so that I could extract the CSV and drop the VM.

In practice, I always write an ugly bash script

[2017-09-28 18:32] mauricioaniche commented on #10
I think we can do that in `RepositoryMining#mine` too. I even thought about an even simpler solution: at every iteration of the loop, we check whether `System.getenv("repodrillerstop")` is equals to `TRUE`. If so, we gracefully stop repodriller.

What do you think?

The rationale behind the feature suggestion: in practice, what happens is that, you put repodriller to run, and a few minutes later y

[2017-09-28 18:43] mauricioaniche opened #74 "Why is there a CSVFileFormatException in RepoVisitor?"

[2017-09-28 19:44] davisjam commented on #6
I don't understand what this is asking for. @mauricioaniche Can you clarify?

[2017-09-28 19:46] davisjam commented on #19
This was implemented in #58, right?

Note that initialize and finalize are both called once per-repo, not once overall.

[2017-09-28 19:47] davisjam commented on #24
What about something like this:

1. Study inherits from Observable, and emits on completion of execute.
2. We provide sample Observers that e.g. write to a "done file" or send an email.

But I also like the idea of ongoing progress reports provided by `RepositoryMining.mine`. Related or separate issues?

[2017-09-28 19:51] davisjam commented on #10
I'm a bit confused about your environment variable idea. I thought that once a process A has begun, another process B cannot (easily) change A's environment variables. SO seems to agree, e.g. [this question](https://stackoverflow.com/questions/205064/is-there-a-way-to-change-another-processs-environment-variables).

Fundamentally, to exit gracefully, a RepoDriller process needs to monitor for exte

[2017-09-29 09:31] mauricioaniche commented on #6
I think this is already addressed by commit https://github.com/mauricioaniche/repodriller/commit/c96d1d7cb19b9bf3df99d1bf079f2129dfc2fcbc. Closing this issue!

[2017-09-29 09:31] #6 closed

[2017-09-29 09:32] mauricioaniche commented on #19
Yes. Closing this issue.

[2017-09-29 09:32] #19 closed

[2017-09-29 09:35] mauricioaniche commented on #10
Woah, I did not know that! Interesting!

Yes, we should make sure it works in Windows as well, as we do have students using Windows machines.

A magic file, on the same directory of the jar file should do (and simple to implement). Sounds good?

[2017-09-29 09:37] mauricioaniche commented on #24
That's a good idea! I like it! We should merge both issues, indeed. I'll open a new one, and close this one.

[2017-09-29 09:38] mauricioaniche opened #75 "Notify the progress of a study"
We should provide a way to notify the status/progress of a study.

From @davisjam:

- Study inherits from Observable, and emits on completion of execute.
- We provide sample Observers that e.g. write to a "done file" or send an email.

[2017-09-29 09:38] mauricioaniche commented on #43
Replaced by #75

[2017-09-29 09:38] #43 closed

[2017-09-29 09:38] mauricioaniche commented on #24
Replaced by #75

[2017-09-29 09:38] #24 closed

[2017-09-29 09:53] letimome commented on #52
Hi guys. I finally did not had the time to implement it. I'm afraid I will not address this issue in the closer future...  sorry about this.

[2017-09-29 14:45] mauricioaniche opened #77 "PersistenceMechanism: who should close it?"
Currently, the `PersistenceMechanism` is closed by repodriller, at the end of its execution.

@davisjam argues (and I agree) that it's a bit odd that the client opens it, but we close it. Read comments on #72 for more details.

[2017-09-29 21:23] davisjam commented on #77
Agreed that this needs to be backwards-compatible.

I think the default behavior should be to close them, as this is probably what the user wants and certainly what the current behavior is.

I think it would be fine to have a way to mark some PersistenceMechanism's as "user managed" in terms of who should close them.

[2017-09-29 21:49] davisjam commented on #10
# Design
The overall design is independent of mechanism:

- Some background thread listens for requests
- It "does something"
- It sends a response back

Requests might be "what is the status" (#75), "please die gracefully" (#10), etc.

# External interface
To be honest I'm not really thrilled with the "magic file" approach as a portable signaling mechanism. It would work for this specific case, b

[2017-09-29 22:05] davisjam commented on #74
As I suggested in #72, I think we should really define what should happen if a CommitVisitor throws an exception. For example it might throw an exception due to the repository being in a bad state (e.g. `git checkout` failed). Should we abort or try to keep going?

I'm asking because I think we should document our position, whatever it is.

[2017-09-30 09:44] mauricioaniche commented on #74
Maybe this can be configured by the user. She can choose to either halt the study or keep going!

To keep compatibility, we make default to keep going.

[2017-09-30 19:32] mauricioaniche commented on #10
The HTTP is indeed a very elegant solution, but I fear it will just be a waste of our limited development time. I do not expect this feature to be that popular; I basically use it when I'm still testing/debugging my study. So, hopefully, other people also don't need fancy ways to stop the execution.

The magic file, although less elegant, will cost us just 2 lines of code.

I suggest we go for the

[2017-10-01 01:32] davisjam commented on #10
I don't think the HTTP approach is all that scary. How to extend the various components to support various reporting/response mechanisms is the bigger question.

@mauricioaniche Can you advise on the places that might need extension? Here's my list so far:

**Die gracefully**
1. RepositoryMining: An API that says "please die gracefully".
2. CommitVisitor: We'll be terminating the study early. Comm

[2017-10-01 01:35] davisjam opened #78 "Clarify exception-handling policy"
At the moment we suppress exceptions thrown by Studies, and some exceptions thrown by CommitVisitors.

1. I think coarse "throw Study exceptions?" and "throw CommitVisitor exceptions?" knobs might be nice.
2. At minimum, however, we should document what we do about exceptions thrown by user code.

See discussion in #74.

[2017-10-01 01:45] davisjam commented on #62
Looking through here, I'm a bit confused about why Modification doesn't make use of the various Diff classes.

It would make more sense to me if a Modification returned your choice of the raw diff or a list of `DiffBlock`s as available via `DiffParser`. If it returned the `DiffBlocks` then extracting the added/removed lines would become the problem of a DiffBlock.

In general I think it makes sens

[2017-10-01 01:47] davisjam opened #79 "README is still under construction"
Needs some sections filled in.

[2017-10-01 01:48] davisjam commented on #79
See #73 for related discussion.

[2017-10-01 15:28] mauricioaniche commented on #62
`DiffParser` indeed currently looks like a utility helper. No reason for that. We can definitely make `Modification` to return the more elegant diff objects provided by  `DiffParser`.

But I guess what Davide wanted in this issue was a method that would return only the added lines. However, using the Diff objects, one can easily write a lambda for that (using the `DiffLineType`).

[2017-10-01 16:05] davisjam commented on #62
Yes, that's what I had in mind. If a Modification can return something semantically relevant instead of a raw diff, then the caller can easily extract the added and removed lines. I don't think Modification itself should need to do that.

@ishepard Would this meet your needs?

[2017-10-01 19:34] ishepard commented on #62
Yes indeed this is exactly what I wanted.

DiffParser and DiffBlock classes are _hidden_ in the middle of repodriller. In my opinion, Modification should not return the _raw diff_, but it should use this helper classes to return a more elegant object. This would help a lot the life of miners ;)

[2017-10-02 18:28] davisjam commented on #62
@mauricioaniche This would be a breaking change. Thoughts?

[2017-10-02 18:50] mauricioaniche commented on #62
We should not remove the _return the raw diff_ as that would be a breaking change, indeed. However, we can add new methods to `Modification` that encapsulates the `new DiffParser(..).parse()`, so that users can easily find this feature. New methods are welcome!

[2017-10-03 21:52] ayaankazerouni opened #80 "Configurable behaviour for user exceptions"
If there's an error in my code, it'd be nice if I could see Exceptions and stack traces and the like. Currently it seems like RepoDriller masks all of this.

[2017-10-04 11:46] mauricioaniche commented on #80
(Related to #78)

@ayaankazerouni You are right. Up to now, repodriller basically logs your exception and moves on. Just to get more context, what would you want to do with the exception? And why would an exception 'escape' from your study class?

For now, my thoughts were: _your study should catch any exceptions that it may throw. If, for some reason, an exception escaped, there's nothing much yo

[2017-10-04 15:49] ayaankazerouni commented on #80
I was thinking more about unintended Exceptions whose error messages are useful for debugging issues. Right now, the study just **ends** if something is wrong. I'm using APIs that I'm not really familiar with (Eclipse JDT, RepoDriller itself), so that stuff would be helpful. More dangerous, if I get output that **looks** correct, I have no idea if an Exception ended the study.

Yes, but I would th

[2017-10-04 17:27] mauricioaniche commented on #80
Does it stop? **It shouldn't!** When an error occurs (let's suppose you forgot to get an exception) and it pops up to repodriller, the framework catches it, and logs the error using log4j!

If you don't see log4j logs on your console, then you are not configuring it! Create the log4.xml in your _src/main/resources_ folder. An example can be found here: https://github.com/mauricioaniche/repodriller

[2017-10-04 20:16] ayaankazerouni commented on #80
Ok, I had my `log4j.xml` in the project root. I've moved it to `src/main/resources/`, and things seem to be logging now. I now see some exceptions messages. Thanks for the help!

I would still consider configurable exception behaviours, though.

[2017-10-05 11:29] mauricioaniche commented on #80
Oh, sorry, @ayaankazerouni! I thought you were one of our current students!! :)

I'll keep this issue open so that we re-visit it soon! Meanwhile, if you wanna contribute with a PR that actually makes this log configuration more explicit, I guess that'd be very helpful!!

[2017-10-06 15:20] davisjam opened #83 "FileUtils has same name as a java util class"
Should be renamed to RDFileUtils or similar

[2017-10-06 16:07] davisjam opened #84 "GitRemoteRepository is full of duplicated code"
It would be cleaner if it inherited from GitRepository, with extra steps to clone and wipe the new repository.

[2017-10-06 16:14] davisjam commented on #84
Working on this.

[2017-10-06 16:14] davisjam commented on #83
Working on this.

[2017-10-06 16:41] davisjam commented on #84
On second thought, it looks like a GitRemoteRepository is basically just a GitRepository that can clone itself.

I don't think there's any need for a separate Repository type here, just a utility to make it easy to grab a remote repository.

I'll try something in that direction.

[2017-10-08 02:07] ayaankazerouni opened #87 "Get diff between specified commits"
This is a feature request. I'd like a way to get the diff between two specified commits.

[2017-10-08 02:30] ayaankazerouni commented on #87
Yeah, I don't mind putting some time into it.

[2017-10-09 18:11] ayaankazerouni commented on #87
@mauricioaniche any thoughts or pointers?

[2017-10-10 10:23] mauricioaniche commented on #87
How do you see one using this feature? You are visiting commits, and you need the diff between X and X - 3, let's say? And you need to do this over time, and that's why you need this feature in repodriller?

I agree that `SCMRepository` interface is the best place to contain such method. (In the future, we can think about breaking this interface into smaller ones, as it's growing up!)

[2017-10-10 14:02] ayaankazerouni commented on #87
My imagined use case is you've identified two commits of interest, with a variable amount of time between them, and you need the diff. I don't really have to do anything 'over time' except identify the two commits of interest.

One could argue that repodriller need not support this; I thought it might provide a convenient wrapper around JGit's diffing functionality (which is not difficult, but kin

[2017-10-10 14:07] davisjam commented on #87
So @ayaankazerouni if I understand correctly:

During your RepoDriller scan you identify a bunch of pairs of commits of interest <X_i, Y_i>.
Or perhaps you have a starting commit X and identify a bunch of comparison commits Y_1 Y_2 etc.

While visiting each commit Y_i, you'd like your analysis to include "How different are X and this Y_i"?

This seems like a reasonable question to want to ask.

I

[2017-10-10 14:11] davisjam commented on #87
@mauricioaniche Can you clarify when to put functionality into the `SCM` interface vs. the `SCMRepository` class?

[2017-10-10 18:29] mauricioaniche commented on #87
Sounds good to me, then!

@davisjam I meant `SCM` interface, indeed!

[2017-10-11 14:50] davisjam opened #89 "README could give links to competitors with explanation of the differences"
e.g. Boa, Alitehia Core, etc.

[2017-10-12 21:29] ayaankazerouni commented on #87
@mauricioaniche -- I have some questions about the format in which we want the diff information returned.

Do we want to return a list of `DiffEntries` (from JGgit) or a list of Strings that would be parseable using RepoDriller's own `DiffParser`? Alternatively, we could build and return a list of `Modifications` like the type available in a `Commit`. Then we can interact with the diff in a famili

[2017-10-12 21:41] davisjam commented on #87
There is some relevant discussion in #62.

[2017-10-12 21:55] ayaankazerouni commented on #87
Sounds like something I can add as part of this pull request.

[2017-10-12 22:33] davisjam commented on #87
Agreed, seems like a good fit. Some clarity on the relationship between Diffs, Modifications, Commits, etc. in the Javadoc would also be helpful.

[2017-10-13 16:17] mauricioaniche commented on #87
I'd say we should avoid exposing JGit details out of `GitRepository`; otherwise, clients would have to change when using SVN.

At this moment, I'd say either returning a simple String or repodriller's diff classes would be good. Then, as soon as we get more people using this feature, we'll make it better for them!

[2017-10-13 16:44] ayaankazerouni commented on #87
Ok, I'm returning a list of `Modifications`

[2017-10-13 16:53] mauricioaniche commented on #87
List of modifications? Not sure if I understood. I thought the goal was to return the diff between version A and B!

[2017-10-13 16:55] davisjam commented on #83
Fixed in #88.

[2017-10-13 16:55] #83 closed

[2017-10-13 16:56] davisjam commented on #84
Fixed in #88.

[2017-10-13 16:56] #84 closed

[2017-10-13 16:59] ayaankazerouni commented on #87
While visiting commits, we use `commit.getModifications()` to get the changes made in the specified commit, correct? In `GitRepository`, that list of `Modifications` is built by diffing the current commit and its parent commit. I'm reusing that code, except instead of using a commit and its immediate parent, I use a commit and some specified prior commit, passed in as an additional argument.

[2017-10-13 17:53] davisjam commented on #87
The goal is to return the diff between commit A and commit B, yes. This can be done either by:

1. Returning the sequence of commits between A and B. But it's not clear what this means if A and B are e.g. on different branches.
2. Returning the diff in terms of project state, expressed in the form of a List (Collection?) of Modifications.

I like 2 better. 1 seems too fine-grained and hard to defi

[2017-10-14 15:16] mauricioaniche opened #92 "Flush in the CSVWriter?"
Do we still need it? It indeed has performance issues. See PR #90.

[2017-10-14 15:17] mauricioaniche commented on #87
I do not see Repodriller returning a list of `Modification` for this diff between commits feature.

I'd rather model it as an _utility method_, e.g.,`List<DiffEntry> getDiffBetween(string hash1, string hash2)` or `String getDiffBetween(string hash1, string hash2)`.

Does that make sense?

[2017-10-14 16:32] davisjam commented on #92
Actually see PR #91

[2017-10-14 16:35] davisjam commented on #92
To address this issue we need to evaluate the failure path to make sure close() is called on all PersistenceMethods. If so then we can safely remove this flush.

[2017-10-14 16:39] davisjam opened #93 "CSVFile: close() should check if writable"
Missed this in #91.

Some better class Javadoc would also be nice.

[2017-10-14 16:44] davisjam commented on #87
Modification or DiffEntry is fine, I'm not sure of the difference yet. Not a String though, per #62: why provide a String when we have better options?

[2017-10-15 00:59] ayaankazerouni commented on #87
I agree with @davisjam, I'm not certain what the difference would be. `DiffEntry` is a `JGit`, tying this to to Git repositories, which I understand we don't want. Returning one large String seems kind of unwieldy to me, to be honest.

My intuition is that anyone using this diff will probably turn it into a Modification or DiffEntry or something anyway, instead of interacting with it as a String.

[2017-10-15 18:18] mauricioaniche commented on #87
Sorry for the confusion, I do not know all the class names by heart. It definitely does not make sense to pass JGit's internals to outside. However, our model contains `DiffLine`. See `DiffBlock` also.

`Modification` represents a modification that was made in a commit. It contains old path, new path, type of modification (RENAME, DELETE, ..).

What kind of diff are you talking about ? If you are

[2017-10-15 18:30] ayaankazerouni commented on #87
This is the type I'm talking about. I would like to interact with the diff _the same way_ as we do in `CommitVisitor`. It might be that I end up simply getting the Strings, but returning a Modification gives me a choice of what to do without having to parse things myself.

[2017-10-15 18:39] mauricioaniche commented on #87
Go for it! Let me know when the PR is done! :)

[2017-10-15 20:16] ayaankazerouni commented on #87
Ok PR #90 should be ready for review and merge now.

[2017-10-15 20:22] davisjam commented on #87
LGTM. Nice job.

[2017-10-16 14:30] mauricioaniche commented on #87
Thanks! I'll review it soon!! :)

[2017-10-17 12:25] davisjam commented on #93
Addressed in #94

[2017-10-17 12:25] #93 closed

[2017-10-17 17:22] davisjam opened #95 "Inefficient commit processing"
As noted in a TODO in RepositoryMining, `processRepo` inefficiently partitions the ChangeSets assigned to each worker.

The issue is that a partition on the *number* of ChangeSets assigned assumes all ChangeSets cost the same. But trivially they might not: the user-supplied filters may immediately change the number of ChangeSets being handled by each.

[2017-10-17 21:50] davisjam commented on #95
Working on this.

[2017-10-18 07:48] mauricioaniche commented on #95
Wanna discuss the solution?

On Tue, Oct 17, 2017, 23:50 Jamie Davis <notifications@github.com> wrote:

--
Maurício Aniche
Postdoc researcher
Delft University of Technology
www.mauricioaniche.com
@mauricioaniche

[2017-10-18 11:55] davisjam commented on #95
I basically added this

`Queue<ChangeSet> csQueue = new ConcurrentLinkedQueue<ChangeSet>(rawCs);`

and then changed the workers to pop off this queue until it was empty.

[2017-10-18 13:22] mauricioaniche commented on #95
Sounds awesome!

On Wed, Oct 18, 2017, 13:55 Jamie Davis <notifications@github.com> wrote:

--
Maurício Aniche
Postdoc researcher
Delft University of Technology
www.mauricioaniche.com
@mauricioaniche

[2017-10-18 13:44] davisjam opened #96 "MonthlyCommits is unsafe"
Example: I cloned the popular [libuv](https://github.com/libuv/libuv) library and tried to extract monthly commits. I ended up with about 20 commits even though the project has had regular commits since 2011.

Explanation: Someone forks libuv and adds commits. Years later they submit a PR with the fix. The date being used by RepoDriller uses the author commit time rather than the committer commit

[2017-10-18 15:04] davisjam opened #97 "RepoVisitor cannot be used with same Visitor, different PersistenceMechanism"
RepoVisitor maintains a Map<Visitor, PersistenceMechanism>. If I want to visit with the same visitor and two different PMs I cannot do so.

Should be a Collection of <Visitor, PersistenceMechanism> pairings.

[2017-10-18 15:04] davisjam commented on #97
I have a fix for this.

[2017-10-18 15:51] davisjam commented on #40
Suggest we close this with #98

[2017-10-18 19:29] davisjam commented on #96
Almost done. @mauricioaniche I'm extending ChangeSet to include message and author/committer objects modeled on JGit's `PersonIdent`. This will break anyone who uses `ChangeSet`. Concerns?

[2017-10-19 16:10] mauricioaniche commented on #40
Agreed

[2017-10-19 16:10] #40 closed

[2017-10-24 17:17] davisjam commented on #51
Working on this as part of #100

[2017-10-25 14:15] ayaankazerouni opened #101 "Should RepoDriller time out if a repository takes too long to visit?"
I'm processing some 800 repositories, and RepoDriller 'stopped functioning'. It didn't freeze Eclipse or my computer, but stopped progressing at a particular commit in a given repository. I'm going run some tests soon to figure out why this happened, but a timeout might be a good idea.

[2017-10-25 19:05] mauricioaniche commented on #101
Hi @ayaankazerouni, if you are analyzing 800 repositories, I suggest you don't run it into the Eclipse sandbox. Let us know if you can reproduce the problem.

I fear adding a timeout for a commit to be analyzed won't solve this issue. :/

[2017-10-25 19:26] davisjam opened #102 "Not enough clones"
In #98 we use IntStream.range instead of IntStream.rangeInclusive. Thus we have one fewer repo clone than threads, so one thread is always waiting for a repo clone.

[2017-10-25 19:26] davisjam commented on #102
Working on a fix.

[2017-10-25 21:27] ayaankazerouni commented on #101
Ok, found the issue. Nothing RepoDriller could have helped with. Thanks!

[2017-10-25 21:27] #101 closed

[2017-10-25 21:30] davisjam commented on #97
Addressed in #98

[2017-10-25 21:30] #97 closed

[2017-10-25 21:31] davisjam commented on #95
Addressed in #98

[2017-10-25 21:31] #95 closed

[2017-10-25 21:31] davisjam commented on #64
Addressed in #98

[2017-10-25 21:31] #64 closed

[2017-10-25 21:32] davisjam commented on #62
@ayaankazerouni Did you do anything for this?

[2017-10-25 21:32] davisjam commented on #89
Addressed in #99

[2017-10-25 21:32] #89 closed

[2017-10-25 21:33] davisjam commented on #41
Can you clarify how this differs from use of a `CommitRange`?

[2017-10-25 21:33] davisjam commented on #28
Why?

[2017-10-25 21:34] davisjam commented on #15
Can you reproduce this issue? I'm guessing the SCMRepositoryClone code introduced in #98 should fix whatever the bug was.

[2017-10-25 21:35] davisjam commented on #101
Would any logs from RepoDriller have helped, e.g. those introduced in #102 ?

[2017-10-25 21:36] davisjam commented on #9
I suggest we change this title to "Better ways to obtain the list of repositories to mine", e.g. parse a plain-text file with repository names?

Can you clarify what you want?

[2017-10-25 21:37] davisjam commented on #5
This seems to refer to the MM approach. Close?

[2017-10-25 21:42] ayaankazerouni commented on #101
Sure they would.

[2017-10-26 09:06] mauricioaniche commented on #101
What was the issue? I'm curious now :)

[2017-10-26 09:08] mauricioaniche commented on #5
The idea here would be to show the time that each visitor took. Right now we say something like _total execution time: 3 hours_. Maybe we could say: _Visitor 1: 30 min, Visitor 2: 1h30m_

I'd leave this one open for newcomers! :)

[2017-10-26 09:09] mauricioaniche commented on #28
Hmm, I do not remember anymore. I definitely needed it for something I wanted to do, but I wasn't clear on the description of the issue, unfortunately.

Closing this one.

[2017-10-26 09:09] #28 closed

[2017-10-26 09:09] mauricioaniche commented on #9
That's definitely it.

[2017-10-26 09:10] mauricioaniche commented on #9
Also good for newcomers!

[2017-10-26 09:15] mauricioaniche commented on #15
On my TODO list. However, I am sure this used to happen quite often. For some reason, many repos somehow use _symlinks_, and this crashes the execution. Not sure if there's anything we can do, besides reporting it in our README. I'll be back here.

[2017-10-26 09:17] mauricioaniche commented on #41
When we build the `Commit` object, we store lots of information, such as the _diff_, the _source code_, the _list of branches_, the _parent commit_ and etc. All of this has a cost, as we have to get this data from Git.

However, if I am building a study that does not care about _parent commits_ (a good example, as I suppose most of times people do not care about it), then, this information does no

[2017-10-26 14:26] ayaankazerouni commented on #101
As @davisjam mentions in #103, one of my repositories repeatedly triggered an infinite loop (8 times, in fact :unamused:) causing each concurrent clone to be help up. So the mining couldn't progress since all threads were busy dealing with my ineptitude.

The debug messages added in #103 help to make things more explicit in `DEBUG` mode.

[2017-10-26 16:59] davisjam commented on #5
OK, so change the title to something about CommitVisitors rather than about metrics?

[2017-10-26 17:00] davisjam commented on #15
Were you doing this on Windows? [Relevent](https://stackoverflow.com/questions/11662868/what-happens-when-i-clone-a-repository-with-symlinks-on-windows)?

[2017-10-26 17:02] davisjam commented on #41
Definitely do-able. Reducing the metadata loaded into `ChangeSet` might be premature optimization -- again we don't have a sense of the cost of the various pieces of metadata. But if we can do without the *diff* that should offer nice performance gains -- then the `ChangeSet` is all the user really needs.

[2017-10-26 17:03] davisjam commented on #41
@ayaankazerouni Is this related to what you're working on?

[2017-10-26 18:31] ayaankazerouni opened #104 "Filter diffs based on user-defined criteria"
(edited for more detail)

### The problem
* I want to ignore binary files in my diffs. Commits with diffs like these take about 20-25 minutes to process, and the diffs (but not necessarily the entire Commits) are useless to me.
* There's no guarantee that these files have specific file extensions.
* Attempting to convert these diffs into `Modifications` is the identified bottleneck in the `getComm

[2017-10-26 18:34] ayaankazerouni commented on #41
It is related in the sense that I want more granular control over what I spend time computing (diffs in my case). See #104

[2017-10-26 19:18] davisjam commented on #104
**Option 1: A filter**
If I understand correctly, you want a way to control which `Modification`s RepoDriller attempts to extract and store in a `Commit`. It sounds like you're willing to do this on per-file basis.

I think JGit has a way to do this, see [here](https://stackoverflow.com/questions/36886319/how-to-skip-binary-files-when-obtaining-list-of-diff-entries-from-commit-in-jgit).

The quest

[2017-10-26 19:56] ayaankazerouni commented on #104
We don't want to do that, so we're back to option 1, where we really only have the old and new file names to work with (`getOldPath` and `getNewPath`). And this is fine for my use case.

[2017-10-27 06:48] mauricioaniche commented on #104
Nice feature request. I also agree that diffs of binary files are useless. I was gonna suggest a simpler solution: the user passes something like `.filesThatICareAbout("java", "jsp", "css", "html")` (name to discuss) and these are the files we bring to the `Modification` object. Maybe this can even be more fine-grained, like `filesThatIWannaSeeInModification` and `filesThatNeedDiff`. Your solution

[2017-10-27 06:48] mauricioaniche commented on #15
I'm a Mac user!! :)

[2017-10-27 13:13] davisjam commented on #104
I'm concerned about a whitelist-only approach. The repositories I own often contain scripts with no extension at all, e.g. `extractNames` which is a perl/python/node/etc. script. You can't determine the type from the name, you need to see the shebang at the top of the file.

If we offer the user a generic filter that takes a file name, he can build his own whitelist or blacklist. We could also off

[2017-10-27 13:22] davisjam commented on #15
Possibly relevant [open bug report](https://ecosystem.atlassian.net/browse/MJF-270) against JGit.

[2017-10-27 14:09] ayaankazerouni commented on #104
I agree, this would make things easier on the user.

[2017-11-22 10:35] mauricioaniche commented on #104
Did you manage to work on this one, @ayaankazerouni ?

[2017-11-27 17:44] ayaankazerouni commented on #104
I added a filter to only look at Java files on a branch in my fork. See 40bb6f2ac1728a4d32f6a157758c634bb1dd97d0. But this is not really usable outside of my own needs.

I can work on the more general whitelist/blacklist solution for completeness' sake in the coming weeks (though that might be delayed because of end of semester work).

[2017-12-15 15:53] ttben opened #106 "Update to log4j2"
Since 2015 `log4j` discourage the use of version 1
[Version 2](https://logging.apache.org/log4j/2.x/) should be used instead.
Log4J proposes a [migration page](https://logging.apache.org/log4j/2.x/manual/migration.html).
The section `Converting to the Log4j 2 API` should be the cleanest and easiest one IMO.

[2017-12-15 15:54] ttben opened #107 "Path with '~' throw FileNotFoundException"
`new CSVFile("~/Desktop/q2.csv")` will output :

[code]

whereas `new CSVFile("/Users/benjaminbenni/Desktop/q2.csv")` works fine.

[2017-12-15 15:59] davisjam commented on #107
Good catch, should be fixed. Let's try something like [this](https://stackoverflow.com/a/7163446).

[2017-12-15 16:02] ttben commented on #107
Sounds good to me :)
I thought `Java` itself would have done that.
I don't understand why/how I didn't have the issue on other projects.. 😐

[2017-12-15 16:08] davisjam commented on #107
Google suggests that Java does not do this. Perhaps we are just lazier than average ;-)

[2017-12-15 16:10] ttben commented on #107
Haha I didn't imply that :P
But if `Java` checks `\` and `/` why not `~` and so on.
Thanks!

[2017-12-16 10:55] ttben commented on #51
Any news about this feature? :)

[2017-12-16 14:04] mauricioaniche commented on #107
Wow, I always thought that worked. For now, I just provide a short note about it in the docs: https://github.com/mauricioaniche/repodriller/blob/master/README.md

[2017-12-16 14:05] mauricioaniche commented on #51
Not from me. Do you wanna work on it, @ttben ? Let me know and we can discuss the implementation!

[2017-12-16 21:29] mauricioaniche opened #109 "Configure separate build stages in Travis"
One for the tests. If they pass, we run the memory test.

Ref: https://docs.travis-ci.com/user/build-stages/

[2017-12-16 21:32] mauricioaniche commented on #109
Maybe we can even post the performance results on the PR: https://damien.pobel.fr/post/github-api-from-travisci/

[2017-12-17 12:50] #109 closed

[2017-12-17 14:23] mauricioaniche commented on #106
You did it! Closing this issue!

[2017-12-17 14:23] #106 closed

[2017-12-17 14:27] ttben opened #112 "Why parent of a commit, is not a commit?"
I was wondering why the `parent` field is a String instead of a commit?
I understand that building every `Commit` object for each `commit` is the analysed `Git` repository will be too heavy ; but a `getCommit(String id)` call may return a `Commit` object with another `Commit` instance as `parent`.
WDYT ?

[2017-12-17 14:34] mauricioaniche commented on #112
Yes, @ttben, it's definitely due to performance reasons. The way RepoDriller works, we always need the parent commit to perform the diff. However, creating a `Commit` object for each parent can be too expensive (and, in most cases, not needed).

So, if you need it, you can get the `Commit` using the `SCM` that you also have in your visitor.

Does that answer your question?

[2017-12-17 14:36] ttben commented on #51
I can't implement it for now, as I rush 2 papers..
But we can always discuss :) This way, if someone else has time, it will be quicker to implement it!

Adding this feature should:
- not break any existing code using `RepoDriller`,
- be seamless for new users,
- provide "`left`" and "`right`" parent.

Problem: if one wants to analyse every merge commits, even with `left` and `right` fields, she ha

[2017-12-17 14:45] ttben commented on #112
Yes as it confirms that it is only for performance reasons.

The issue is that, for now, `RepoDriller` seems to handle (very very) well isolated analyses.
Eg.: find every commit that has a `WORD` in it, every commit of a given authors, etc

But if you want to analyse branches, relation between old a new commits, integrate the notion of *evolution*, you _have to_ go back and forth between `Commit`

[2017-12-17 14:50] mauricioaniche commented on #112
Thanks for your clear and concise explanation!

That's definitely doable! We could think of implementing it. Maybe in similar way to my new PR, #111, where one can configure which data to be loaded, and `parent` as a `Commit` object can be one of them!

[2017-12-17 14:51] mauricioaniche commented on #51
Really clear. I'll try to tackle this issue soon!

[2017-12-17 14:58] ttben commented on #51
Thanks :)
I think it will be a useful information!

[2017-12-18 16:33] ttben opened #114 "Warning when mvn clean validate"
From the last actual commit ; two warnings are raised when running `mvn clean validate`:

`commons-lang3` is declared twice, in `3.3.1` in [L85](https://github.com/mauricioaniche/repodriller/blob/master/pom.xml#L85) and `3.3.2` [L103](https://github.com/mauricioaniche/repodriller/blob/master/pom.xml#L103)

and plugin `maven-javadoc-plugin` has no specified version [L179](https://github.com/maurici

[2017-12-18 16:40] ttben opened #115 "The build is platform dependent, causing the whole build to fail."
When running `mvn clean validate` the build fails:

I was suspecting an encoding issue, and indeed a warning is yield stating that no encoding has been specified.

Fixing this in incoming PR.

[2017-12-19 17:36] mauricioaniche opened #117 "Maven javadoc plugin fails as there are many invalid javadocs in the project"

[2017-12-19 17:36] mauricioaniche commented on #115
Done! Closing the issue.

[2017-12-19 17:36] #115 closed

[2017-12-21 11:09] ttben commented on #114
This has been solved by PR #116

[2017-12-21 11:09] #114 closed

[2018-01-16 08:37] AjroudRami opened #118 "The app is stopped due to a System.exit(1) call in the lib"
When using Threads the apps stops showing this message:
"Error, consumed XXX ChangeSets but had YYY ChangeSets to work on"

Then System.exit(1) is called (RepositoryMining.java line 409)

The analyzed repository is: https://github.com/rubinius/rubinius

Sample Study.execute code:

[code]

[2018-01-16 12:35] davisjam commented on #118
I will take a look.

On Tue, Jan 16, 2018 at 3:37 AM Rami <notifications@github.com> wrote:

--
Jamie Davis
PhD student, Computer Science, 2015-?
Virginia Tech
http://people.cs.vt.edu/~davisjam/

[2018-01-16 15:25] davisjam commented on #118
It looks like this could be tricky to debug without more information. I cannot clone `https://github.com/rubinius/rubiunius`.

I suspect, however, that the issue is that in `RepositoryMining.java` we don't count `nConsumed` properly.

[code]

Note that `nConsumed++` only executes if `processChangeSet` does not throw. So if for example your visitor is throwing exceptions then this assert will fail.

[2018-01-16 16:39] mauricioaniche commented on #118
It seems that the ++ should be in a finally block, indeed!

On Tue, Jan 16, 2018, 13:25 Jamie Davis <notifications@github.com> wrote:

--
Maurício Aniche
Assistant Professor
Delft University of Technology
www.mauricioaniche.com
@mauricioaniche

[2018-01-16 17:23] davisjam commented on #118
Yep. I just want to make sure this is the cause of the problem before I fix
it.

On Tue, Jan 16, 2018 at 11:40 AM Maurício Aniche <notifications@github.com>
wrote:

--
Jamie Davis
PhD student, Computer Science, 2015-?
Virginia Tech
http://people.cs.vt.edu/~davisjam/

[2018-01-19 22:29] AjroudRami commented on #118
Hi,
@davisjam, you hava a typo in the repository url: [https://github.com/rubinius/rubinius](https://github.com/rubinius/rubinius)
My logs show me that:

` [pool-6-thread-2] ERROR org.repodriller.scm.GitRepository - Commit fc403fe9ab02d2ad9828fd17d68a42ae08fae5b1 touches more than 5000 files`

`[pool-6-thread-2] ERROR org.repodriller.RepositoryMining - Got exception from ChangeSet  fc403fe9ab02d2a

[2018-01-19 23:38] davisjam commented on #118
@AjroudRami Well now I feel silly about the typo :-).

You hit an assert I put in to catch errors in the threading implementation. It was supposed to increment the counter every time, but alas it does not. Thanks for confirming that the issue is exceptions being thrown. I will fix this.

[2018-01-20 18:20] davisjam commented on #118
1. [rubinius](https://github.com/rubinius/rubinius) is far too large for me to want to try to reproduce the issue on that repo.
2. I added a test whose visitor throws. Exceptions thrown by visitors are caught in RepoVisitor.java::visitCommit and the exceptions are ignored. So the problem must occur from an exception elsewhere.
3. Based on @AjroudRami's logs, I made the following tweaks in `GitRepo

[2018-01-20 18:30] davisjam opened #120 "GitRepository commit processing is brittle"
`GitRepository` has these limits:

[code]

If you set these values both to 1, you will get RuntimeExceptions while building and/or processing ChangeSets.

See also #118 and #119 where I noticed this bug as reported by @AjroudRami.

[2018-01-20 18:30] davisjam commented on #118
@AjroudRami Should be addressed in 203c79e.

[2018-01-20 21:29] mauricioaniche commented on #120
Yes, they were introduced due to crazy large commits that may exist in repos and could throw OOM errors.

The user can change the configuration if she wants to, though. What we can try to do is to be friendly and warn her if limits are too low.

[2018-01-22 10:43] ttben commented on #21
Sorry to reopen this discussion, but a commit can have no branch? ie. `getBranches` returns an empty list?

[2018-01-22 13:17] davisjam commented on #21
In git, I think every commit should have a branch...unless you are looking
at the reflog or something exotic.

Are you seeing cases where there a commit belongs to no branch? Probably a
bug.

On Mon, Jan 22, 2018 at 5:43 AM Benjamin Benni <notifications@github.com>
wrote:

--
Jamie Davis
PhD student, Computer Science, 2015-?
Virginia Tech
http://people.cs.vt.edu/~davisjam/

[2018-01-22 13:30] ttben commented on #21
Ok, I think I need to add more context.
I wanted to list all merge on a given repository. I wrote a visitor that is just
[code]

I analysed [the ExoPlayer repo](https://github.com/google/ExoPlayer) and found that ~350 merges where found.  But a `git log --merges | wc -l` returned ~270.

I replace the previous version with the following:
[code]

numbers were good. Why?

I found that `getParents()`

[2018-01-23 12:28] mauricioaniche commented on #21
Hmm, this is quite strange. See lines 268 and 279 in https://github.com/mauricioaniche/repodriller/blob/master/src/main/java/org/repodriller/scm/GitRepository.java. We use `getParentCount() > 1` to decide whether a commit is a merge and `getParents()` to get the list of parents. It seems that JGit is then doing some crazy stuff.

Are you able to isolate this behavior? I'll open an issue for furthe

[2018-01-23 12:28] mauricioaniche opened #122 "Broken behavior in identifying a merge commit"
See @ttben's comments on #21.

[2018-01-23 12:46] ttben commented on #21
Yes I talked about merge and branches to outline how I encountered this issue.

The issue is: the number of merge detected by repoDriller (`isMerge`) is different from `git log`.
Why: `git log` shows informations depending on your current branch (where is HEAD) and repodriller seems to have commits, detected as merge, that have no branch.

Maybe these are dangling commits?

I'll push the example l

[2018-01-23 14:26] davisjam commented on #21
Great! If you provide an example I'm sure we can figure out the problem.

[2018-01-23 14:27] davisjam commented on #21
@ttben When you have an example, can you open a new issue for this?

[2018-01-23 14:28] mauricioaniche commented on #21
It's here, @davisjam : https://github.com/mauricioaniche/repodriller/issues/122

Let's see if @ttben is able to simulate. Otherwise, I'll put this at the top of my TODO list.

[2018-01-23 15:01] ttben opened #123 "Commit can have no branch?"
I was able to wrap everything [here](https://github.com/ttben/repodriller-test).
Just import it in your favorite IDE, unzip the repo (which is a fresh `git clone`) and run the main class. I had to attach a zip of the repo instead of doing a `GitRemoteRepository` object because the behavior is not the same when taking a local repo and using a`GitRemoteRepository` ..
... but this is another problem

[2018-01-23 17:09] mauricioaniche commented on #123
Thanks, @ttben! I'll debug it asap.

[2018-02-18 21:23] mauricioaniche commented on #102
We should close this one, right, @davisjam ?

[2018-02-18 21:26] mauricioaniche commented on #123
@ttben , I just tried to debug it on the same ExoPlayer project, but it does not find a commit without a branch here.

Just to make sure we are doing the same thing, that's my test:
[code]

Can you tell me the commit hashes that fail for you?

On the other hand, I figured out why RepoDriller sometimes shows more commits than Git Log does. I'll submit a PR right away.

[2018-02-18 21:35] #118 closed

[2018-02-18 21:46] mauricioaniche commented on #41
This was done in 1.4.0.

[2018-02-18 21:46] #41 closed

[2018-02-18 22:08] mauricioaniche commented on #104
Fixed by #121

[2018-02-18 22:08] #104 closed

[2018-02-19 02:29] davisjam commented on #102
Yes

[2018-02-19 10:42] #102 closed

[2018-02-19 10:53] #107 closed

[2018-02-27 05:52] ayaankazerouni opened #126 "DiffFilters selectively load diffs into Modifications, but without DiffText"
Bug in `CollectConfiguration#diffs(DiffFilter...)` (that I introduced...)

When filtering diffs using the `collect` API, RepoDriller was loading diffs into `Modifications`, but without any text returned from `Modification#getDiff()`. Test cases passed because I only checked that that `Modification` existed, not that the diff text existed.

### Solution
`this.diff = true` in `CollectConfiguration#d

[2018-02-27 09:57] mauricioaniche commented on #126
Uhh, sounds an important bug that requires releasing right now. I'll work on it today. Thanks for reporting it, @ayaankazerouni

[2018-02-27 13:40] mauricioaniche commented on #126
merged

[2018-02-27 13:40] #126 closed

[2018-03-06 21:24] ayaankazerouni opened #128 "GitRepository::getCommit seems to ignore git.diffcontext"
It sticks to the Git default of 3, even though I've set the `git.diffcontext` System property. (the private method `getSystemProperty` successfully finds the value I set, but the diff output remains the same.

[2018-03-07 05:23] ayaankazerouni commented on #128
It looks like in `getCommit`, we get the diff for the commit using `diffsForTheCommit`, which does set the context based on the user-defined System property. But in `getDiffText`, we process the `DiffEntry` that we received from `diffsFromTheCommit`, and the `DiffFormatter` used here *does not* set the diff context.

So, after only cursory checking,
1. We should call `setContext(df2)` in `getDiffT

[2018-03-07 17:56] ayaankazerouni commented on #80
This seems to have resurfaced in a different way. I've gotten log4j2 configured and working since I first opened this issue. But it's no longer logging any Exceptions that my code throws, which is making debugging kind of difficult. Perhaps one of the recent updates did something?

cc: @davisjam

[2018-03-08 22:50] mauricioaniche commented on #80
Are you sure it's not something wrong in your code? Logs are working on our CI: https://travis-ci.org/mauricioaniche/repodriller

[2018-03-08 23:10] ayaankazerouni commented on #80
Ok, you know what? I think it was an overly-broad `catch` clause in my own code. Ignore these messages!

[2018-03-11 18:33] mauricioaniche commented on #128
It indeed seems that there's some repetition. I'll try to understand why it happens and submit a PR -- ofc, if you have time, you can submit the PR yourself!

Thanks for spotting it, btw!

[2018-03-12 17:52] klerisson commented on #15
Just face similar situation:

java.lang.RuntimeException: org.eclipse.jgit.api.errors.JGitInternalException: Exception caught during execution of reset command. {0}
	at org.repodriller.scm.GitRepository.checkout(GitRepository.java:369)
	at br.ufu.facom.lascam.metricextractor.visitor.RevisionVisitor.process(RevisionVisitor.java:30)
	at org.repodriller.RepositoryMining.processChangeSet(RepositoryMin

[2018-03-12 17:58] klerisson commented on #15
Works for me: [Stack Overflow](https://stackoverflow.com/questions/43995106/how-to-solved-this-exception-caught-during-execution-of-merge-command-org-ecli)

[2018-03-12 20:41] mauricioaniche commented on #15
Yes, sometimes that happens when Git itself gets lost. The manual solution is indeed to delete the lock manually. However, I don't see how to put it on RepoDriller, as I'm afraid of other consequences (i.e. unexpected behavior, like collecting bad data) it might bring to the tool.

[2018-03-13 18:45] ayaankazerouni commented on #128
If a fix isn't issued until around mid-April, I'm happy to work on it. But I can't until then :(

[2018-05-01 20:17] ayaankazerouni commented on #128
Ok, looks like in `getCommit`, we use `diffsForTheCommit` to get a `List<DiffEntry>`. These `DiffEntry` objects respect the user-defined context property, and the `DiffFormatter` writes to a `DISABLED_OUTPUT_STREAM`, so it no diff texts are stored. This list is only used to check the **number** of diffs, and to error out if the commit touches too many files.

If we pass this check, then we turn ea

[2018-05-04 15:25] ayaankazerouni commented on #128
ping @mauricioaniche

[2018-06-11 12:19] safiyashen opened #131 "name of committer is not correct"
I am now using repodriller to crawl enterprise github project.
When reading the output, I found sometimes the committer's name is not corresponding to it shows on the GitHub website, and a lot of them are "none" or "Github enterprise". Since I am now studying the developer network, each committer should have its own index.
Anybody knows why it happens?

[2018-06-30 09:20] #131 closed